innerproject/src/main/resources/C14054.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="C14054DataTypes.xsd" />
  <xs:element name="BIRTHDTE" type="DateType" />
  <xs:element name="CLASS" type="CLASSCodeType" />
  <xs:element name="COMDATE">
    <xs:simpleType>
      <xs:restriction base="xs:date" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="COURSEAIM" type="COURSEAIMCodeType" />
  <xs:element name="COURSEID" type="COURSEIDType" />
  <xs:element name="CTITLE" type="TitleType" />
  <xs:element name="DISABLE" type="DISABLECodeType" />
  <xs:element name="DISALL" type="DISALLCodeType" />
  <xs:element name="DOMICILE" type="DOMICILECodeType" />
  <xs:element name="ENDDATE" type="DateType" />
  <xs:element name="ETHNIC" type="ETHNICCodeType" />
  <xs:element name="EXCHIND" type="EXCHINDCodeType" />
  <xs:element name="FNAMES" type="NameWithNullType" />
  <xs:element name="GENDERID" type="GENDERIDCodeType" />
  <xs:element name="GROSSFEE">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:totalDigits value="6" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HEAPESPOP" type="HEAPESPOPCodeType" />
  <xs:element name="HUSID" type="HUSIDType" />
  <xs:element name="LOCATION" type="LOCATIONType" />
  <xs:element name="LOCSDY" type="LOCSDYCodeType" />
  <xs:element name="MODE" type="MODECodeType" />
  <xs:element name="MSTUFEE" type="MSTUFEECodeType" />
  <xs:element name="NATION" type="NATIONCodeType" />
  <xs:element name="NETFEE">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:totalDigits value="6" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NOTACT" type="NOTACTCodeType" />
  <xs:element name="NUMHUS" type="NUMHUSType" />
  <xs:element name="OWNCOURSEID" type="OWNCOURSEIDType" />
  <xs:element name="OWNINST" type="OWNINSTType" />
  <xs:element name="OWNSTU" type="OWNSTUType" />
  <xs:element name="PERIODEND">
    <xs:simpleType>
      <xs:restriction base="xs:date" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="PERIODSTART">
    <xs:simpleType>
      <xs:restriction base="xs:date" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="POSTCODE" type="PostCodeWithNullType" />
  <xs:element name="PREVINST" type="PREVINSTType" />
  <xs:element name="PRIPROV" type="PRIPROVType" />
  <xs:element name="QUAL" type="QUALCodeType" />
  <xs:element name="QUALENT3" type="QUALENT3CodeType" />
  <xs:element name="QUALGRADE" type="QUALGRADECodeType" />
  <xs:element name="QUALSBJ" type="QUALSBJCodeType" />
  <xs:element name="QUALSIT" type="QUALSITCodeType" />
  <xs:element name="QUALTYPE" type="QUALTYPECodeType" />
  <xs:element name="QUALYEAR" type="YearType" />
  <xs:element name="RECID" type="RECIDCodeType" />
  <xs:element name="REGBODY" type="REGBODYCodeType" />
  <xs:element name="RELBLF" type="RELBLFCodeType" />
  <xs:element name="RSNEND" type="RSNENDCodeType" />
  <xs:element name="SBJCA" type="SBJCACodeType" />
  <xs:element name="SBJPCNT" type="SBJPCNTType" />
  <xs:element name="SEXID" type="SEXIDCodeType" />
  <xs:element name="SEXORT" type="SEXORTCodeType" />
  <xs:element name="SPLENGTH" type="PositiveIntegerWithNullType2" />
  <xs:element name="SSELIG" type="SSELIGCodeType" />
  <xs:element name="SSN" type="SSNType" />
  <xs:element name="STULOAD" type="FTEType" />
  <xs:element name="SUBPURPOSE" type="SUBPURPOSECodeType" />
  <xs:element name="SURNAME" type="NameType" />
  <xs:element name="TTCID" type="TTCIDCodeType" />
  <xs:element name="UKPRN" type="UKPRNType" />
  <xs:element name="ULN" type="UniqueLearnerNumberType" />
  <xs:element name="UNITLGTH" type="UNITLGTHCodeType" />
  <xs:element name="YEARPRG">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:totalDigits value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="YEARSTU" type="YEARSTUType" />
  <xs:element name="APStudentRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Provider" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Provider">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RECID" minOccurs="1" maxOccurs="1" />
        <xs:element ref="SUBPURPOSE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="UKPRN" minOccurs="1" maxOccurs="1" />
        <xs:element ref="Course" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="Student" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueCourse_COURSEID">
      <xs:selector xpath="Course" />
      <xs:field xpath="COURSEID" />
    </xs:unique>
    <xs:key name="Course_Key">
      <xs:selector xpath="Course" />
      <xs:field xpath="COURSEID" />
    </xs:key>
    <xs:unique name="uniqueStudent_HUSID">
      <xs:selector xpath="Student" />
      <xs:field xpath="HUSID" />
    </xs:unique>
    <xs:keyref name="Instance_Course" refer="Course_Key">
      <xs:selector xpath="Student/Instance" />
      <xs:field xpath="COURSEID" />
    </xs:keyref>
  </xs:element>
  <xs:element name="Course">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="COURSEID" minOccurs="1" maxOccurs="1" />
        <xs:element ref="OWNCOURSEID" minOccurs="0" maxOccurs="1" />
        <xs:element ref="COURSEAIM" minOccurs="1" maxOccurs="1" />
        <xs:element ref="CTITLE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="REGBODY" minOccurs="0" maxOccurs="1" />
        <xs:element ref="TTCID" minOccurs="1" maxOccurs="1" />
        <xs:element ref="CourseSubject" minOccurs="1" maxOccurs="3" />
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueCourseSubject_SBJCA">
      <xs:selector xpath="CourseSubject" />
      <xs:field xpath="SBJCA" />
    </xs:unique>
  </xs:element>
  <xs:element name="CourseSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SBJCA" minOccurs="1" maxOccurs="1" />
        <xs:element ref="SBJPCNT" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Student">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HUSID" minOccurs="1" maxOccurs="1" />
        <xs:element ref="OWNSTU" minOccurs="0" maxOccurs="1" />
        <xs:element ref="BIRTHDTE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="FNAMES" minOccurs="1" maxOccurs="1" />
        <xs:element ref="SSN" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SURNAME" minOccurs="1" maxOccurs="1" />
        <xs:element ref="ULN" minOccurs="0" maxOccurs="1" />
        <xs:element ref="EntryProfile" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Instance" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="StudentEquality" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueEntryProfile_NUMHUS">
      <xs:selector xpath="EntryProfile" />
      <xs:field xpath="NUMHUS" />
    </xs:unique>
    <xs:unique name="uniqueInstance_NUMHUS">
      <xs:selector xpath="Instance" />
      <xs:field xpath="NUMHUS" />
    </xs:unique>
    <xs:unique name="uniqueInstance_COMDATE">
      <xs:selector xpath="Instance" />
      <xs:field xpath="COURSEID" />
      <xs:field xpath="COMDATE" />
    </xs:unique>
  </xs:element>
  <xs:element name="EntryProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NUMHUS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="DOMICILE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="POSTCODE" minOccurs="0" maxOccurs="1" />
        <xs:element ref="PREVINST" minOccurs="0" maxOccurs="1" />
        <xs:element ref="QUALENT3" minOccurs="1" maxOccurs="1" />
        <xs:element ref="QualificationsOnEntry" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualificationsOnEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QUALGRADE" minOccurs="0" maxOccurs="1" />
        <xs:element ref="QUALSBJ" minOccurs="1" maxOccurs="1" />
        <xs:element ref="QUALSIT" minOccurs="0" maxOccurs="1" />
        <xs:element ref="QUALTYPE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="QUALYEAR" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Instance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NUMHUS" minOccurs="1" maxOccurs="1" />
        <xs:element ref="COURSEID" minOccurs="1" maxOccurs="1" />
        <xs:element ref="OWNINST" minOccurs="0" maxOccurs="1" />
        <xs:element ref="COMDATE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="ENDDATE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="HEAPESPOP" minOccurs="0" maxOccurs="1" />
        <xs:element ref="LOCATION" minOccurs="0" maxOccurs="10" />
        <xs:element ref="RSNEND" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SPLENGTH" minOccurs="1" maxOccurs="1" />
        <xs:element ref="UNITLGTH" minOccurs="1" maxOccurs="1" />
        <xs:element ref="InstancePeriod" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueInstancePeriod_PERIODSTART">
      <xs:selector xpath="InstancePeriod" />
      <xs:field xpath="PERIODSTART" />
    </xs:unique>
  </xs:element>
  <xs:element name="InstancePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DISALL" minOccurs="0" maxOccurs="1" />
        <xs:element ref="EXCHIND" minOccurs="1" maxOccurs="1" />
        <xs:element ref="GROSSFEE" minOccurs="0" maxOccurs="1" />
        <xs:element ref="LOCSDY" minOccurs="1" maxOccurs="1" />
        <xs:element ref="MODE" minOccurs="1" maxOccurs="1" />
        <xs:element ref="MSTUFEE" minOccurs="0" maxOccurs="1" />
        <xs:element ref="NETFEE" minOccurs="0" maxOccurs="1" />
        <xs:element ref="NOTACT" minOccurs="0" maxOccurs="1" />
        <xs:element ref="PERIODEND" minOccurs="1" maxOccurs="1" />
        <xs:element ref="PERIODSTART" minOccurs="1" maxOccurs="1" />
        <xs:element ref="PRIPROV" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SSELIG" minOccurs="1" maxOccurs="1" />
        <xs:element ref="STULOAD" minOccurs="1" maxOccurs="1" />
        <xs:element ref="YEARPRG" minOccurs="1" maxOccurs="1" />
        <xs:element ref="YEARSTU" minOccurs="1" maxOccurs="1" />
        <xs:element ref="QualificationsAwarded" minOccurs="0" maxOccurs="2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QualificationsAwarded">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASS" minOccurs="0" maxOccurs="1" />
        <xs:element ref="QUAL" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentEquality">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DISABLE" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ETHNIC" minOccurs="0" maxOccurs="1" />
        <xs:element ref="GENDERID" minOccurs="0" maxOccurs="1" />
        <xs:element ref="NATION" minOccurs="0" maxOccurs="1" />
        <xs:element ref="RELBLF" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SEXID" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SEXORT" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>